*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("img/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.app{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(transparent,black); 
    position: fixed;   
    
}

.app .cot{
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: larger;
    z-index: 100;
    max-width: 1000px;
    padding: 20px;
    backdrop-filter: blur(10px);
    transition: 500ms;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
}
p{
    font-size: medium;
    padding: 10px;
}
.floating{
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    position: absolute;
    left: 0%;
    top: -100%;
    transition:4s ;
}
.floating img{
    width: 100%;
    transition: 2s;
    animation: rotate 10s linear infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.floating.main{
    width: 300px;
}
.floating.main{
    z-index: 10;
}
.invert{
    filter: invert(100%);
}
.floating.show{
    left: 50%;
    top: 50%;
    transform: translate(-100%,-100%);
    z-index: 101;
}
.question{
    padding: 15px;
}
.options{
    display: grid;
    grid-template-columns: auto auto;
    
}
@media (max-width:512px) {
    .options{
        grid-template-columns: auto;
    }
    .app .cot{
        font-size: medium;
    }
}
.option{
    margin: 5px;
    padding:15px;
    border-radius: 10px;
    border: 0.5px solid white;
    background: linear-gradient(160deg, transparent 50%,rgb(105, 105, 105) 90%);
    background-position: 0;
    background-size: 200%;
    transition: 0.3s;
}

.option:hover{
    background-position: 100%;
}
.hide{
    opacity: 0;
}

